:root {
  --darkBlue: #000244;
  --darkpurpleBlue: #3d46f2;
  --smokeWhite: #f2f2f2;
  --purpleBlue: #797ff2;
  --black: #000000;
}

html {
  background-color: var(--darkBlue);
}

.App {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.ContactCard {
  height: 200px;
  width: 400px;
  margin: 0 auto;
  background-color: var(--darkpurpleBlue);
  border-radius: 10px;
  color: var(--smokeWhite);
  font-size: 20px;
}

.button {
  background-color: var(--smokeWhite);
  color: var(--black);
  font-size: 16px;
  margin: 8px;
  border-style: none;
  border-radius: 10px;
}

.ContactCard--ButtonSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.MainTitle {
  color: var(--smokeWhite);
}

.CreateSection {
  margin: 20px;
}

.CreateCardButton {
  margin: 0 auto;
  background-color: var(--smokeWhite);
  color: var(--black);
  font-size: 18px;
  border-radius: 10px;
  border-style: none;
}
